# 4.4 Data Wrangling

In [2]:
# 1. Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Path to the original data
path= r"/Users/mentaykoshzhanova/Desktop/Instacart Basket Analysis"
path

'/Users/mentaykoshzhanova/Desktop/Instacart Basket Analysis'

In [4]:
# Import dataframes 
df_ords= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)
df_prods= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_dep= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [5]:
# Rename column
df_ords.rename(columns = {'order_dow' : 'order_day_of_week'}, inplace = True)

In [6]:
# Change data type in column
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['order_id'].dtype

dtype('O')

In [7]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [8]:
# 2. Changing data type of user_id to string in orders df
df_ords['user_id'] = df_ords['user_id'].astype('str')
df_ords['user_id'].dtype

dtype('O')

In [9]:
# 3. Changing column name from order_hour_of_day to order_time in orders df
df_ords.rename(columns = {'order_hour_of_day' : 'order_time'}, inplace = True)

In [10]:
# 4. Counting value counts for the busiest hour is for placing orders
df_ords['order_time'].value_counts(dropna = False)

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_time, dtype: int64

In [11]:
# Changing wide to long format in department df 
df_dep.T
df_dep_t = df_dep.T
df_dep_t.reset_index()
new_header = df_dep_t.iloc[0]
df_dep_t_new = df_dep_t[1:]
df_dep_t_new.columns = new_header
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [12]:
# Creating subset in products for snacks department
df_snacks =  df_prods[df_prods['department_id']==19]

In [13]:
# 5. Determining the meaning behind a value of 4 in the "department_id" column within the df_prods df
data_dict = df_dep_t_new.to_dict('index')
data_dict
print(data_dict.get('19'))

{'department': 'snacks'}

In [14]:
# 6. Creating subset for breakfast item sales in products df
df_breakfast=df_prods[df_prods['department_id']==14]
df_breakfast

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

In [15]:
# 7. Creating a subset for multiple values as for dinner party df from products df
df_dinner_party=df_prods.loc[df_prods['department_id'].isin ([5,7,12,20])]
df_dinner_party

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

In [16]:
# 8. Last df rows count
len(df_dinner_party.index)

7650

In [17]:
# 9. Extracting all the information about user 1
print(df_ords.iloc[:1])

  order_id user_id  order_number  order_day_of_week  order_time  \
0  2539329       1             1                  2           8

   days_since_prior_order
0                     NaN

In [18]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [19]:
# 10. User_id 1 ordered only once so far on Tuesday at 8 am, but we have a missing data for the prior order date.

In [20]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))