# 4.5 Data Consistency Checks

## Products DataFrame

In [1]:
# 1. Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Path to the original data
path= r"/Users/mentaykoshzhanova/Desktop/Instacart Basket Analysis"
path

'/Users/mentaykoshzhanova/Desktop/Instacart Basket Analysis'

In [3]:
# Import dataframes
df_prods= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col=False)

In [4]:
df_prods.shape

(49693, 5)

In [4]:
# create df for a test
df_test=pd.DataFrame()
df_test['mix']=['a', 'b', 1, True]
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [5]:
#Check for mixed-type data
for col in df_test.columns.tolist():
    weird=(df_test[[col]].applymap(type)!=df_test[[col]].iloc[0].apply(type)).any(axis=1)
    if len (df_test[weird])>0:
        print(col)

mix

In [6]:
df_test['mix'] = df_test['mix'].astype('str')

In [7]:
# Finding missing values in products df
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
# Create a subset (that contains only the values in question) to view the missing values after finding
df_nan=df_prods[df_prods['product_name'].isnull()==True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [9]:
# Missing value need to be filtered out because they are string, to do so create a new df with non-missing value and check the # of rowd and columns with shape 
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_prods_clean.shape

(49677, 5)

In [10]:
# Looking for full duplicates in products df
df_dups = df_prods_clean[df_prods_clean.duplicated()]
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [11]:
# Checking # of rows before dropping duplicates
df_prods_clean.shape

(49677, 5)

In [12]:
# Dropping duplicates from products df 
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [13]:
# Checking # of rows after dropping duplicates
df_prods_clean_no_dups.shape

(49672, 5)

In [14]:
# Exporting as csv 
df_prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'))