# Combining and Exporting Data

### This script contains the following points:
 - Merging dataframes
 - Exporting dataframes in pkl format

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Path to the original data
path= r"/Users/mentaykoshzhanova/Desktop/Instacart Basket Analysis"
path

'/Users/mentaykoshzhanova/Desktop/Instacart Basket Analysis'

In [4]:
# Import dataframes
df_ords_prior= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)
df_prods= pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_ords= pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col= False)

In [5]:
df_ords_prior.shape

(32434489, 4)

In [24]:
# Checking column names to find a common column with orders df 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [25]:
# Checking column names to find a common column with ords_prior df 
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_time,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [27]:
# Merging orders with prior orders df with flag on to see if there is a full match
df_merged=df_ords_prior.merge(df_ords, on='order_id', indicator = True)
df_merged

,order_id,product_id,add_to_cart_order,reordered,Unnamed: 0,user_id,order_number,order_day_of_week,order_time,days_since_prior_order,_merge
0,2,33120,1,1,3355525,202279,3,5,9,8.0,both
1,2,28985,2,1,3355525,202279,3,5,9,8.0,both
2,2,9327,3,0,3355525,202279,3,5,9,8.0,both
3,2,45918,4,1,3355525,202279,3,5,9,8.0,both
4,2,30035,5,0,3355525,202279,3,5,9,8.0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,419472,25247,24,2,6,21.0,both
32434485,3421083,11352,7,0,419472,25247,24,2,6,21.0,both
32434486,3421083,4600,8,0,419472,25247,24,2,6,21.0,both
32434487,3421083,24852,9,1,419472,25247,24,2,6,21.0,both
32434488,3421083,5020,10,1,419472,25247,24,2,6,21.0,both

In [28]:
# Exporting to pickle merged df
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))